.search-container {
  margin: auto;

  input {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #CCC;
    color: #555;
    box-sizing: border-box;
    font-size: 30px;
  }
}
